.juego-container {
  margin: 10px auto;
  max-width: 1000px; 
  padding: 0px;
  min-height: 90vh; 
}

/* Matriz */
.matriz-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.grid-matriz {
  display: grid;
  gap: 8px;
  justify-content: center;
}
.grid-cols-9 { grid-template-columns: repeat(3, 1fr); } /* para 3x3 */
.grid-cols-16 { grid-template-columns: repeat(4, 1fr); } /* para 4x4 */

/* Opciones scroll */
.options-scroll {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: thin;
}

.option-btn {
  background: none;
  border: 3px solid transparent;
  padding: 0;
  border-radius: 8px;
  transition: border 0.3s ease;
  min-width: 120px;
  max-width: 140px;
  min-height: 120px;
  max-height: 140px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-opcion {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}


/* Feedback visual */
.option-btn.correct {
  border-color: #22c55e; /* verde */
}

.option-btn.incorrect {
  border-color: #ef4444; /* rojo */
}
