/* Estilos del Dashboard */

.dashboard-container {
    text-align: center;
    padding: 50px;
    font-family: Arial, sans-serif;
  }

  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title {
    font-size: 2rem;
    margin: 0;
    color: #2d2d2d;
  }

  .logout-button {
    padding: 10px 20px;
    font-size: 0.9rem;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }

  .logout-button:hover {
    background-color: #ff3742;
    transform: scale(1.05);
  }

  .logout-button:active {
    transform: scale(0.95);
  }
  
  .games-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 600px;
    margin: auto;
  }
  
  .game-button {
    padding: 15px;
    font-size: 1rem;
    background-color: #ca6df2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .game-button:hover {
    background-color: #b86ad9;
    transform: scale(1.05);
  }
  
  .game-button:active {
    transform: scale(0.95);
  }
  